.portfolio {
  width: 78%;
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  padding: 10% 10%;
  position: relative;
}
.portfolio > div {
  padding-bottom: 10px;
}
.portfolio > div > div:last-of-type {
  margin-top: 5%;
}
.fading {
  animation-name: fading;
  animation-duration: 500ms;
}
.showing {
  animation-name: showing;
  animation-duration: 500ms;
}
@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
