.animateToSmothBg {
  animation: animateToSmothBh 500ms linear forwards;
}

@keyframes animateToSmothBh {
  from {
    background-color: transparent;
  }
  to {
    background-color: #00000050;
  }
}
.Courses > span {
  width: 80%;
  min-height: 100vh;

  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Courses > span > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}
.Courses > span > section:first-of-type {
  width: 40%;
}
.infoSection {
  color: #ffffffdd;
}
.infoSection > span {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.infoSection h2 {
  width: 100%;
  text-align: right;
}

.Courses > span > section:last-of-type {
  width: 30%;
}

.Courses > span > section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Courses .shortInfo {
  color: #ffffffdd;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Courses .shortInfo span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.Courses .shortInfo h2 {
  text-align: right;
  width: 100%;
}
.Courses .shortInfo button {
  margin: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 4px solid #750d35;
  color: #ffffffdd;
  cursor: pointer;
}
.Courses .shortInfo .big {
  padding: 12px 24px;
  font-size: 24px;
}
.Courses .shortInfo .little {
  padding: 5px 12px;
  font-size: 14px;
}
.mailform {
  text-align: center;
  color: #ffffffdd;
  max-width: 500px;
  width: calc(100% - 60px);
  padding: 10px 30px 30px 30px;
  background-color: #300510;
}
.mailform input,
.mailform button {
  border: none;
  outline: none;
  margin: 10px 0;
  font-size: 14px;
}
.mailform input {
  width: calc(100% - 10px);
  padding: 5px;
}
.mailform .error {
  box-shadow: 0 0 5px 3px red;
}
.mailform button {
  background-color: #ea1543;
  cursor: pointer;
  color: #ffffffdd;
  width: 100%;
  padding: 5px 0;
}
.mailform input::placeholder {
  color: #ccc;
}

.hidden {
  animation: hideAnimation 500ms linear forwards;
}
.show {
  animation: showAnimation 500ms linear forwards;
}

@keyframes showAnimation {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hideAnimation {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 760px) {
  .Courses > span {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 5% 3.5%;
    width: 93%;
  }
  .Courses > span > section {
    width: 93% !important;
  }
  .infoSection > span {
    justify-content: center;
  }
  .Courses h2 {
    text-align: center !important;
  }
  .Courses .shortInfo span {
    justify-content: center;
  }
}
