.portfolio {
  width: 80%;
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  padding: 10vh 10%;
  position: relative;
}
.portfolio > div {
  padding-bottom: 10px;
}
.portfolio > div > div:last-of-type {
  margin-top: 5%;
}
