.portfolio {
  width: 80%;
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  padding: 10vh 10%;
  position: relative;
  > div {
    padding-bottom: 10px;

    > div:last-of-type {
      margin-top: 5%;
    }
  }
}

.fading {
  animation-name: fading;
  animation-duration: 500ms;
}

.showing {
  animation-name: showing;
  animation-duration: 500ms;
}

@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
