.soclinks {
  position: fixed;
  left: 5%;
  bottom: 5%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
}
.soclinks span,
.soclinks a {
  color: #ccc;
}
.soclinks a:focus,
.soclinks a:hover {
  color: #0169a0;
}
.soclinks > span > span {
  margin: 0 10px;
}
