.aboutus {
  width: 100%;
  min-height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  color: #fff;
}
.aboutus > div {
  padding: 5% 10%;
  position: relative;
  padding-bottom: 20px;
  width: 90%;
}
.aboutus > div h2 {
  font-size: 34px;
}
.aboutus > div p {
  font-size: 16px;
  max-width: 50%;
}
