.myNavBar {
  position: absolute;
  top: 4%;
  left: 0;
  width: 93%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  z-index: 10;
}

.myNavBar ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.myNavBar a {
  font-size: 24px;
  color: #ffffffdd;
  margin: 0 10px;
  white-space: nowrap;
}

@media only screen and (max-width: 760px) {
  .myNavBar {
    grid-template-columns: 0fr 1fr;
    top: 0%;
    width: 100%;
  }
  .myNavBar img {
    height: 0px !important;
  }
  .myNavBar a {
    margin: 0;
  }
  .myNavBar ul {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #300510;
    margin: 0;
  }
  .myNavBar ul li {
    border-bottom: 3px solid #2b050f;
  }
  .menuBars {
    display: block !important;
  }
}
