@activeLinkColor: #ffe15f;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  z-index: 13;
  ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    li {
      button,
      a {
        border: none;
        background: transparent;
        outline: none;
        color: #fff;
        font-size: 18px;
        padding: 8px 12px;
        margin: 5px;
        border-radius: 2px;
        transition-duration: 0.5s;
        white-space: nowrap;
        cursor: pointer;
      }
      #services {
        background-color: @activeLinkColor!important;
        color: black !important;
      }
    }
  }
}
